@import '@styles/mixins.module.scss';

.icon {
    @include square(30px);

    margin-right: 28px;
    vertical-align: middle;
}

.playicon {
    margin-right: 16px;
    margin-left: 13px;
    vertical-align: middle;
}