@import '@styles/colors.module.scss';
@import '@styles/mixins.module.scss';

body {
    @include scrollbar;
}

.container {
    max-width: 80vw;
    margin: 5vh auto;
}

.search {
    padding-left: 20px;

    input {
        width: 25vw;
        min-width: 300px;
        height: 66px;

        margin-right: 20px;
        padding: 16px;

        @include font(22px, 500, $darkBlue, $arial);

        background-color: transparent;
        border: 1px solid $lapisBlue;
        border-radius: 8px;

        &:focus {
            background-color: $white;
            border: 1px solid $lapisBlue;
            outline: 1px solid $lapisBlue;
        }

        &:disabled {
            background-color: lapisBlueOpacity(0.2);
        }

        &::placeholder {
            color: $lapisBlue;
            opacity: 0.7;
        }
    }

    button {
        padding: 20px 35px;

        @include font(22px, 700, $lightBlue, $arial);

        background-color: $lapisBlue;
        border: none;
        border-radius: 6px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        &:disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
}

.query {
    padding: 0 20px;
    @include font(40px, 700, $darkGrey, $arial);
}

.cards {
    margin-top: 4vh;
    padding: 20px;

    @include flex(space-between);
    flex-wrap: wrap;
    column-gap: 2vh;
    row-gap: 4vh;
}