$lightBlue: #F8FCFF;
$blue: #e5efff;
$darkerBlue: #bdd4f5;
$lapisBlue: #95adcf;
$darkBlue: #3d4756;
$darkGrey: #383838;
$white: #fff;
$black: #000;

@function lapisBlueOpacity($opacity) {
    @return rgba(149, 173, 207, $opacity);
}