@import '@styles/colors.module.scss';
@import '@styles/mixins.module.scss';
@import '@styles/cardLink.module.scss';

.item {
    min-width: 330px;
    max-width: 25vw;
    min-height: 230px;

    display: flex;
    flex-direction: column;
    flex-basis: 33.333%;

    padding: 30px 30px 0 30px;

    text-align: center;

    background-color: $lapisBlue;
    border-radius: 8px;
    @include transition();

    &:hover {
        background-color: lapisBlueOpacity(0.7);
        @include transition();
    }
}

.content {
    flex: 1 1 auto;
}

.title {
    margin-bottom: 10px;
    @include font(40px, 500, $darkGrey, $franklinMedium);
}

.artist {
    @include font(18px, 500, $darkBlue, $franklin);
}

.link {
    @include card-link;
}