@import '@styles/mixins.module.scss';

.title {
    width: calc(33.3333% - 2vw);
    height: 40px;

    margin-top: 4vh;
    margin-left: 20px;

    border-radius: 4px;
}

.artist {
    width: 40vw;
    min-width: 470px;
    min-height: 230px;

    margin: 4vh 20px;

    border-radius: 16px;
}

.title,
.artist {
    @include skeleton-animation;
}