@import '@styles/colors.module.scss';
@import '@styles/mixins.module.scss';
@import '@styles/cardLink.module.scss';

.item {
    width: 40vw;
    min-width: 470px;
    min-height: 230px;

    margin: 4vh 20px;
    padding: 30px 30px 0 30px;

    display: flex;
    flex-direction: column;

    text-align: center;

    background-color: lapisBlueOpacity(0.7);
    border-radius: 16px;

    @include transition();

    &:hover {
        background-color: $lapisBlue;
        @include transition();
        transform: scale(1.05);

        .link {
            @include card-link-hover;
        }
    }
}

.content {
    flex: 1 1 auto;
}

.title {
    margin-bottom: 10px;
    @include font(50px, 500, $black, $franklinMedium);

    span {
        display: inline-block;
        line-height: 1.2;
        backdrop-filter: blur(4px);
    }
}

.link {
    @include card-link;
    border-radius: 0 0 16px 16px;
    margin: 10px -30px 0px -30px;
}